<div class="row">
  <div class="col-md-4">
    <h3>April 9</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>6pm</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data for Librarians</a></td> </tr>
      <tr> <td>9pm</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>April 16</h3>
    <table class="table table-striped">
      <tr> <td>6pm</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git</a></td> </tr>
      <tr> <td>9pm</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>April 23</h3>
    <table class="table table-striped">
      <tr> <td>6pm</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>9pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>After Ending</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
